.form__input {
    border: 1px solid #000;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    font-size: 17px;
    resize: none;
}

button {
    width: 50%;
}
button:hover{
    background:#031430;
}
.error{color: red; font-size: 12px;text-align: center;}